html, body {
    margin: 0;
    height: 100%;
    background-color: #f5f5f5;
}
body {
  font-family: 'Space Mono', monospace;
}
::selection {
  background: #6E1FFF; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #6E1FFF; /* Gecko Browsers */
  color: white;
}
.header {
  height: 50px;
  margin: 0;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100px;
}
.content {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  width: 100%;
  height: 420px;
  background-color: #262626;
  color: white !important;
  margin-top: 50px;
}
/* Typography */
h1{
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 700;
  font-size: 42px;

}
h2 {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  font-weight: normal;

}
a {
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.copyright {
  text-align: center;
  margin-top: 150px;
}
.white {
  color: white !important;
}
.underline {
  border-bottom: 5px solid #1A7DD7;
  display: inline-block;
  line-height: 0.85;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.headshot {
  width: 100%;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  height: 0;
  border-top: 1px solid rgb(34, 34, 34);
}
.external {
 text-align: center;
}
.right {
  text-align: right;
  width:52%;
  padding-top: 15px;
}
.left{
  width: 48%;
  padding-top: 15px;
}
.wrap {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-top: 50px;
}
.one {
  width: 250px;
}
.two {
  width: 325px;
  padding-left: 40px;
}
.three {
  width: 325px;
  padding-left: 40px;
}
/* MOBILE */
@media (max-width: 780px) {
  .wrap {
    flex-direction: column;
  }
  .one {
    width: 300px;
  }
  .one,
  .two,
  .three {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  h3 {
    padding-top: 20px;
  }
  t {
    padding: 0;
  }
  .right {
    text-align: left;
    padding-top: 0;
    width: 100%;
  }
  .left {
    width: 100%;
  }
}
