@font-face {
  font-family: 'Walsheim';
  src: url('fonts/walsheim/GT-Walsheim-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/walsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/walsheim/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/walsheim/GT-Walsheim-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: 'Walsheim';
  background-color: #f5f5f5;

}
.header {
  height: 100px;
  margin: 0;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 50px;
}
.content {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  width: 100%;
  height: 400px;
  background-color: #333333;
  color: white !important;
  margin-top: 50px;
}
.circle {
  background: linear-gradient(315deg, #1A7DD7 0%, #03275A 100%);
  /*
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  background: linear-gradient(0deg, #d70270, #1662a7, #03275A);
  background: linear-gradient(315deg, #1A7DD7 0%, #d70270 100%);
  */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  animation: color-shift 5s ease;
}
@keyframes color-shift {
    0% {background-position:0% 50%}
    50% {background-position:100% 50%}
    100% {background-position:0% 50%}
}

.space {
  margin-bottom: 10px;
}
#footer-content {
  padding-top: 50px;
}
/* Typography */
h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}
h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.4rem;
  font-weight: normal;
}
li,
t,
p {
  font-size: 1rem;
}
p.cite {
  font-size: 1rem;
  text-align: right;
}
a.head {
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
a.color:hover {
  color: #066dd7;
}
::selection {
  background: #6E1FFF; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #6E1FFF; /* Gecko Browsers */
  color: white;
}
.copyright {
  text-align: center;
  position: absolute;
  bottom:0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: rgb(152, 152, 152);
  font-size: 0.9rem;
}
.white {
  color: white;
}
.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px #f5f5f5,
    2px -2px  #f5f5f5,
    -2px 2px  #f5f5f5,
    -2px -2px  #f5f5f5;
}
ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  height: 0;
  border-top: 1px solid rgb(34, 34, 34);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* IE 10 */
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
}
.a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.d {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.e {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.f {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.g {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.h {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.skill {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
i {
  -webkit-text-stroke: 2px #f5f5f5;
}
i.no-stroke {
  -webkit-text-stroke: 0px #f5f5f5;
}
.right {
  text-align: right;
  width:52%;
  padding-top: 15px;
}
.left{
  width: 48%;
  padding-top: 15px;
}
.wrap {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-top: 50px;
}
.one {
  width: 250px;
}
.two {
  width: 350px;
  padding-left: 40px;

}
.three {
  width: 300px;
  padding-left: 40px;
}
.headshot {
  width: 100%;
}
/* MOBILE */

@media (max-width: 550px) {
.grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    -webkit-text-size-adjust: 100%;
  }
}

@media (max-width: 780px) {
  body,
  h2 {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p.cite {
    font-size: 0.8rem;
    text-align: right;
  }
  .wrap {
    flex-direction: column;
    -ms-flex-direction: column;  /* IE 10 */
    margin-top: 30px;
  }
  .one,
  .two,
  .three {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0;
    width: 100%;
    max-width: 350px;
  }
  .two,
  .three {
    padding-top: 20px;
  }
  t {
    padding: 0;
  }
  .right {
    text-align: left;
    padding-top: 0;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .footer {
    height: 440px;
  }
  #footer-content {
    padding-top: 20px;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
  animation: fadeIn 2s;
}
.slideInRight {
  animation: slideInRight 0.5s;
}
.slideInLeft {
  animation: slideInLeft 0.5s;
}
.fadeInUp {
  animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s; /* Firefox */
  -webkit-animation: fadeInUp 1s; /* Safari and Chrome */
  -o-animation: fadeInUp 1s; /* Opera */
}
