@font-face {
  font-family: 'Walsheim';
  src: url('../fonts/walsheim/GT-Walsheim-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/walsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/walsheim/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/walsheim/GT-Walsheim-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Walsheim';
  font-weight: bold;
  src: url('../fonts/walsheim/GT-Walsheim-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/walsheim/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/walsheim/GT-Walsheim-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/walsheim/GT-Walsheim-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100% !important;
  font-size: 18px;
  font-family: 'Walsheim';
  background-color: #f5f5f5;
  color: rgb(22, 40, 50);
}
#header {
  height: 60px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #f5f5f5;
  transition-property: background, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: ease;
}
#header.header-color {
  background: #0e5096;
  color: white !important;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.top-right {
  float: right;
  text-align: right;
  color: #0F5399;
}
.content {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  width: 100%;
  height: 400px;
  background-color: #333333;
  color: white !important;
  margin-top: 50px;
}
.circle {
  background: linear-gradient(315deg, #1A7DD7 0%, #03275A 100%);
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.shadow {
  width: 90px;
  height: 5px;
  margin: auto;
  background: #c2c1c1;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px #c2c1c1;
  margin-bottom: 50px;
}
.space {
  margin-bottom: 10px;
}
#footer-content {
  padding-top: 50px;
}
/* Typography */
h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}
h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: black !important;
}
.accent{
  color: #0e5096;
}
.underline {
  border-bottom: 4px solid #0e5096;
  padding: 0 5px;
  display: inline-block;
  line-height: 0.9;
  text-shadow:
    2px 2px #f5f5f5,
    2px -2px #f5f5f5,
    -2px 2px #f5f5f5,
    -2px -2px #f5f5f5;
}

.black {
  color: black !important;
}
.bold {
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
li,
t,
p {
  font-size: 1rem;
}
p.cite {
  font-size: 1rem;
  text-align: right;
}
a.head {
  line-height: 60px;
  padding-left: 12px;
  padding-right: 12px;
}
a.color:hover {
  color: #0e5096;
}
::selection {
  background: #6E1FFF; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #6E1FFF; /* Gecko Browsers */
  color: white;
}
.skill:hover {
  color: #0e5096;
}
.adapt {
  background-image: url('../images/adapt.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 55px;
  margin:0;
}
.adapt:hover{
  background-image: url('../images/adapt-blue.png');
}
.copyright {
  text-align: center;
  position: absolute;
  bottom:0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: rgb(152, 152, 152);
  font-size: 0.9rem;
}
.white {
  color: white !important;
}
.no-underline {
  text-decoration: none !important;
}
.button {
  padding: 3px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  margin: 12px 12px;
  text-decoration: none !important;
  border: 2px solid #0e5096;
  color: #f5f5f5;
  background: #0e5096;
  box-shadow: 0 0 3px 1px rgba(60, 60, 60, 0.2);
}
.button:hover {
  background: #f5f5f5;
  color: #0e5096;
}
#contactbutton.button-outline {
  border: 2px solid #f5f5f5;
}
.button-outline:hover {
  background: #0e4785;
  color: #f5f5f5;
}


ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  height: 0;
  border-top: 1px solid rgb(34, 34, 34);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* IE 10 */
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
}
.a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.d {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.e {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.f {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.g {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.h {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.skill {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
i {
  -webkit-text-stroke: 2px #f5f5f5;
}
i.no-stroke {
  -webkit-text-stroke: 0px #f5f5f5;
}
.right {
  text-align: right;
  width:52%;
  padding-top: 15px;
}
.left{
  width: 48%;
  padding-top: 15px;
}
.wrap {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-top: 50px;
}
.one {
  width: 250px;
}
.two {
  width: 375px;
  padding-left: 40px;

}
.three {
  width: 270px;
  padding-left: 40px;
}
.headshot {
  width: 100%;
}
/* MOBILE */

@media (max-width: 550px) {
.grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    -webkit-text-size-adjust: 100%;
  }
}

@media (max-width: 780px) {
  body,
  h2 {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .wrap {
    flex-direction: column;
    -ms-flex-direction: column;  /* IE 10 */
    margin-top: 30px;
  }
  .one,
  .two,
  .three {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0;
    width: 100%;
    max-width: 350px;
  }
  .two,
  .three {
    padding-top: 20px;
  }
  .t {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .right {
    text-align: left;
    padding-top: 0;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .footer {
    height: 440px;
  }
  #footer-content {
    padding-top: 20px;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/* Animations */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@-webkit-keyframes breath {
  0% {
    box-shadow: 0 0 20px 15px #c6c6c6;
    background: #c6c6c6;
  }
  50%{
    box-shadow: 0 0 10px 10px #c2c1c1;
    background: #c2c1c1;
  }
  100% {
    box-shadow: 0 0 20px 15px #c6c6c6;
    background: #c6c6c6;
  }
}
@keyframes breath {
  0% {
    box-shadow: 0 0 20px 15px #c6c6c6;
    background: #c6c6c6;
  }
  50%{
    box-shadow: 0 0 10px 10px #c2c1c1;
    background: #c2c1c1;
  }
  100% {
    box-shadow: 0 0 20px 15px #c6c6c6;
    background: #c6c6c6;
  }
}
.bob {
  -webkit-animation: bob 5s ease infinite;
  animation: bob 5s ease infinite;
}
.breath {
  -webkit-animation: breath 5s ease infinite;
  animation: breath 5s ease infinite;
}

.fadeIn {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.slideInRight {
  -webkit-animation: slideInRight 0.5s;
  animation: slideInRight 0.5s;
}
.slideInLeft {
  -webkit-animation: slideInLeft 0.5s;
  animation: slideInLeft 0.5s;
}
.fadeInUp {
  -webkit-animation: fadeInUp 1s; /* Safari and Chrome */
  animation: fadeInUp 1s;
}

/* Animate On Scroll */

[data-aos="headercolor"] {
  background: #f5f5f5;
  transition-property: background;
  &.aos-animate {
    background: #0e5096;
  }
}
